modules/activiti-cxf/src/test/resources/org/activiti/engine/impl/webservice/counterWithImport.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.impl.engine.activiti.org/"
   xmlns:tns1="http://impl.engine.activiti.org/test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
   targetNamespace="http://webservice.impl.engine.activiti.org/" name="Counter">
   <types>
      <xsd:schema>
         <xsd:import namespace="http://webservice.impl.engine.activiti.org/" schemaLocation="counterSchema.xsd"></xsd:import>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://impl.engine.activiti.org/test"
         attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.engine.activiti.org/test">
         <xsd:element name="MaxValueReachedFault" type="tns1:MaxValueReachedFault" />
         <xsd:complexType name="MaxValueReachedFault">
            <xsd:sequence>
               <xsd:element minOccurs="0" name="message" type="xsd:string" />
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </types>
   <message name="inc">
      <part name="parameters" element="tns:inc"></part>
   </message>
   <message name="incResponse">
      <part name="parameters" element="tns:incResponse"></part>
   </message>
   <message name="setTo">
      <part name="parameters" element="tns:setTo"></part>
   </message>
   <message name="setToResponse">
      <part name="parameters" element="tns:setToResponse"></part>
   </message>
   <message name="noNameResult">
      <part name="parameters" element="tns:noNameResult"></part>
   </message>
   <message name="prettyPrintCount">
      <part name="parameters" element="tns:prettyPrintCount"></part>
   </message>
   <message name="prettyPrintCountResponse">
      <part name="parameters" element="tns:prettyPrintCountResponse"></part>
   </message>
   <message name="reservedWordAsName">
      <part name="parameters" element="tns:reservedWordAsName"></part>
   </message>
   <message name="reservedWordAsNameResponse">
      <part name="parameters" element="tns:reservedWordAsNameResponse"></part>
   </message>
   <message name="noNameResultResponse">
      <part name="parameters" element="tns:noNameResultResponse"></part>
   </message>
   <message name="reset">
      <part name="parameters" element="tns:reset"></part>
   </message>
   <message name="resetResponse">
      <part name="parameters" element="tns:resetResponse"></part>
   </message>
   <message name="getCount">
      <part name="parameters" element="tns:getCount"></part>
   </message>
   <message name="getCountResponse">
      <part name="parameters" element="tns:getCountResponse"></part>
   </message>
   <message name="MaxValueReachedFault">
      <part element="tns1:MaxValueReachedFault" name="MaxValueReachedFault"></part>
   </message>
   <portType name="Counter">
      <operation name="inc">
         <input message="tns:inc"></input>
         <output message="tns:incResponse"></output>
         <fault message="tns:MaxValueReachedFault" name="MaxValueReachedFault"></fault>
      </operation>
      <operation name="setTo">
         <input message="tns:setTo"></input>
         <output message="tns:setToResponse"></output>
      </operation>
      <operation name="prettyPrintCount">
         <input message="tns:prettyPrintCount"></input>
         <output message="tns:prettyPrintCountResponse"></output>
      </operation>

      <operation name="reservedWordAsName">
         <input message="tns:reservedWordAsName"></input>
         <output message="tns:reservedWordAsNameResponse"></output>
      </operation>
      <operation name="noNameResult">
         <input message="tns:noNameResult"></input>
         <output message="tns:noNameResultResponse"></output>
      </operation>
      <operation name="reset">
         <input message="tns:reset"></input>
         <output message="tns:resetResponse"></output>
      </operation>
      <operation name="getCount">
         <input message="tns:getCount"></input>
         <output message="tns:getCountResponse"></output>
      </operation>
   </portType>
   <binding name="CounterImplPortBinding" type="tns:Counter">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <operation name="inc">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
         <fault name="MaxValueReachedFault">
            <soap:fault name="MaxValueReachedFault" use="literal" />
         </fault>
      </operation>
      <operation name="setTo">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="prettyPrintCount">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="reservedWordAsName">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="noNameResult">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="reset">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
      <operation name="getCount">
         <soap:operation soapAction=""></soap:operation>
         <input>
            <soap:body use="literal"></soap:body>
         </input>
         <output>
            <soap:body use="literal"></soap:body>
         </output>
      </operation>
   </binding>
   <service name="Counter">
      <port name="CounterImplPort" binding="tns:CounterImplPortBinding">
         <soap:address location="http://localhost:63081/webservicemock"></soap:address>
      </port>
   </service>
</definitions>